
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>PPS Production Statement</title>
</head>
<body>
    <header>
        <div class="social-icons">
            <a href="https://facebook.com"><img src="assets/images/facebook.png" alt="Facebook"></a><br>
            <a href="https://twitter.com"><img src="assets/images/twitter.png" alt="Twitter"></a><br>
            <a href="https://linkedin.com"><img src="assets/images/linkedin.png" alt="Facebook"></a><br>
            <a href="https://youtube.com"><img src="assets/images/youtube.png" alt="Twitter"></a>
           
          </div>
        <div class="logo">
            <img src="assets/images/pps.jpg">
        </div>
    </header>
    <div class="horizontal-line"></div>
    <body>
        <div class="heading-container">
            <h1>PPS production Statement</h1>
        </div>
    
        <section class="info-section">

            <div class="subsection">

                <span class="name">Miss HW HLONGWANE</span><br>
                <span class="client">Client Contact Details</span><br>
                <span class="mobile">Mobile: 082-1234567</span><br>
                <p class="blue">Email: y.vanheerden@google.com</p>
            </div>
                <body>
                    <div class="vl"></div>
                </body>
    
    
            <div class="subsection">
                <h2 class="address">Address</h2>
                <span>1John Vorster Drive</span><br>
                <span>Randburg</span><br>
                <span>Gauteng</span>
            </div>
       
    
            <body>

            
                <div class="vl"></div>
                
                </body>
    
            <div class="subsection">
                <h2 class="ref">Intermediary Reference:124529534</h2>
                <span class="type">Measure Type:</span><span>Commission</span><br>
                <span class="month">Month:</span><span> September 2023</span><br>
                <span class="date1">Date From:</span><span>2023-9-10 to 2023-01-01</span>
                
            </div>
    
        
        </section>
    
    <body>
    
    
    <hr class="new">
    <div>
        <h2>Earning Of Period</h2>
    </div>

   <section class="blue-border-section"> 

             <div class="table-container" width="100">         
            <table class="blue-table" id="customers">
                <tr class="blue-row">
                    <th colspan="4">Monthy Production Summary</th>
                </tr>
                <tr class="blue-row">
                    <td class="blue-row">Month</td>
                    <td class="blue-row">Permium Under Advice</td>
                    <td class="blue-row">Permium Under Advice</td>
                    <td class="blue-row">Permium Under Advice</td>
                </tr>
                <tr>
                    <td>Agust</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>September</td>
                        <td></td>
                        <td></td>
                        <td></td>
    
                </tr>
                <tr>
                    <td>April</td>
                        <td></td>
                        <td></td>
                        <td></td>
      
                </tr>
                <tr>
                    <td>July</td>
                        <td></td>
                        <td></td>
                        <td></td>
      
                </tr>
                <tr>
                    <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
      
                </tr>
                
            </table>
        </div>
        <div class="white-border"></div>
        <div class="table-container" width="100">
            <table class="blue-table" id="customers">
                <tr class="blue-row">
                    <th colspan="4">Monthy Production Summary</th>
                </tr>
                <tr class="blue-row">
                    <td class="blue-row">Month</td>
                    <td class="blue-row">Permium Under Advice</td>
                    <td class="blue-row">Permium Under Advice</td>
                    <td class="blue-row">Permium Under Advice</td>
                </tr>
                <tr>
                    <td>Agust</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>September</td>
                        <td></td>
                        <td></td>
                        <td></td>
    
                </tr>
                <tr>
                    <td>April</td>
                        <td></td>
                        <td></td>
                        <td></td>
      
                </tr>
                <tr>
                    <td>July</td>
                        <td></td>
                        <td></td>
                        <td></td>
      
                </tr>
                <tr>
                    <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
      
                </tr>
                <!-- Repeat the rows as needed -->
            </table>
        </div>
     </section>
     <div class="button-container">
        <button class="center-button">Total Earnings</button>
        <button>R372000</button>
    </div>
 
    <!-- Rest of your webpage content goes here -->



<section class="blue-border-section">
 <div class="table-container">
            <table class="blue-table" id="customers">
                <tr class="blue-row">
                    <th colspan="4">FSP Account Postings Summarry</th>
                </tr>
                <tr class="blue-row">
                    <td class="blue-row">Month</td>
                    <td class="blue-row">Permium Under Advice</td>
                    <td class="blue-row">Permium Under Advice</td>
                    <td class="blue-row">Permium Under Advice</td>
                </tr>
                <tr>
                    <td>Week 1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
                <tr>
                    <td>Week 2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
                <tr>
                    <td>Week 3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
                <tr>
                    <td>Week 4</td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
                <tr>
                    <td>Week 5</td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
                <tr>
                    <td class="blue-row">Total</td>
                        <td>R221756,21</td>
                        <td>R150628,39</td>
                        <td>R372638,70</td>
                </tr>
                <!-- Repeat the rows as needed -->
            </table>
        </div>
        <div class="white-border"></div>
        <div class="table-container">
            <table class="blue-table" id="customers">
                <tr class="blue-row">
                    <th colspan="4">Future Dated Production</th>
                </tr>
                <tr class="blue-row">
                    <td class="blue-row">Due Date</td>
                    <td class="blue-row">Fiduciary Fees</td>
                    <td class="blue-row">Allocated Amount</td>
                </tr>
                <tr>
                    <td>October</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>May</td>
                    <td></td>
                    <td>R28150,82</td>
                </tr>
                <tr>
                    <td>September</td>
                    <td></td>
                    <td>R9982,41</td>
                </tr>
                <tr class="blue-row">
                    <td class="blue-row">Total Earning</td>
                    <td>R47397,79</td>
                </tr>
                <!-- Repeat the rows as needed -->
            </table>
        </div>
    
</section>
<hr class="new">
<div >
    <h2>Detailed Transaction </h2>
</div>

<div class="blue-table">
    <table id="customers">
        <tr class="blue-row">
            <th>Client Name</th>
            <th>Client Age</th>
            <th>Policy Number</th>
            <th>Policy Number</th>
            <th>Product</th>
            <th>Date Issue</th>
            <th>Incepction Date</th>
            <th>Comp Name</th>
            <th>Quantity</th>
            <th>Posted Date</th>
            <th>Earnings</th>
        </tr>
        <tr>
            <td>Dr L Guvha</td>
            <td>54</td>
            <td>1012890</td>
            <td>1845387</td>
            <td>Professional Health Provider Whole Life Professional Health</td>
            <td>22-Aug-2022</td>
            <td>01-Oct-2022</td>
            <td>2nd Year</td>
            <td>R3964,19</td>
            <td>06-Sept-2023</td>
            <td>R10822,24</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td></td>
            <td></td>
        </tr>
       
        <tfoot>
            <tr>
              <th class="blue-row" id="total" colspan="9"> Sub Total :</th>

                    
              <td></td>
              <td>200</td>
            </tr>
           </tfoot>
           </table>
</div>

<div >
    <tr class >
        <th class="blue-row" id="total" ><h3>Click here to print/View statement</h3><td>&#11208;</td>
        
    </tr>
    
    
</div>
<hr class="new">

<div class="footer">
    <div class="section2" style="padding: 20px;">
        <img style="margin-left: 20px;"  class="custom-image" src="assets/images/footerleft.png" alt="Dummy Image 1">
        </div>

        

    <div class="section1"style="padding: 20px;">
        <img style="margin-right: 20px;"  class= "custom-image" src="/assets/images/pic2.jpeg.jpg" alt="Dummy Image 2">
     
    </div>
   
   
</div>

<div style="margin-left: 45%;">
    <p>PPS Insurance is a registered Insurer and FSP</p>
</div>


</body>
